version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    image: star1431/guest-book-app-backend:latest         # 빌드x 이미지로 교체
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    restart: always                                       # 컨테이너 재시작 설정
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      CORS_ALLOWED_ORIGINS: ${CORS_URL}                   # 프론트 주소 CORS

  frontend:
    image: star1431/guest-book-app-frontend:latest        # 빌드x 이미지로 교체
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mysql_data: