#App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.ui-header {
    background-color: #2d3748;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2.4rem 1.6rem;
}

.ui-main {
    flex: 1;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui-footer {
    background-color: #2d3748;
    color: #cbd5e0;
    padding: 2rem 0;
    margin-top: auto;
}
