spring:
  application:
    name: backend

  datasource:
    url: jdbc:mysql://localhost:3306/guestdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: <데이터베이스_사용자명>
    password: <데이터베이스_비밀번호>
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

